<%= form_for(@actor) do |f| %>
    <% if @actor.errors.any? %>
        <div id="error_explanation">
          <h2> Ошибка сохранения:</h2>

          <ul>
            <% @actor.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :first_name,"Имя" %>
      <br>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name,"Фамилия" %>
      <br>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :birthday,"Дата рождения" %>
      <br>
      <%= f.date_select :birthday, start_year:1900 %>
    </div>
    <div class="field">
      <%= f.label :experence,"Опыт работы" %>
      <br>
      <%= f.text_field :experence %>
    </div>
    <div class="field">
      <%= f.label :award,"Награды" %>
      <br>
      <%= f.collection_select :award_ids, Award.order(:title),:id,:title, include_blank: true %>
    </div>
    <div class="actions">
      <%= f.submit "Добавить / Изменить" %>
    </div>
<% end %>
