<div class="row">
  <div class="large-12 columns">
<h1>Список контрактов</h1>

<table>
  <thead>
    <tr>
      <th>Сумма</th>
      <th>Дата</th>
      <th>Роль</th>
      <th>Представление</th>
      <th>Актер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.sum %></td>
        <td><%= contract.date %></td>
        <td><%= contract.role.title %></td>
        <td><%= contract.performance.datetime_with_play %></td>
        <td><%= contract.actor.first_last_name %></td>
        <td><%= link_to 'Показать', contract %></td>
        <td><%= link_to 'Редактировать', edit_contract_path(contract) %></td>
        <td><%= link_to 'Удалить', contract, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить контракт', new_contract_path %>
</div>
    </div>