<%= nested_form_for(@play) do |f| %>

    <% if @play.errors.any? %>
        <div id="error_explanation">
          <h2>Ошибка сохранения:</h2>

          <ul>
            <% @play.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title,"Название"%>
      <br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description,"Описание" %>
      <br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :author,"Автор" %>
      <br>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :year_of_foundation,"Год написания" %>
      <br>
      <%= f.number_field :year_of_foundation %>
    </div>
    <h2>Роли в спектакле</h2>
    <div>

    <%= f.fields_for :roles do |role_form| %>
        <%= role_form.text_field :title %>
        <%= role_form.link_to_remove "Удалить роль" %>
    <% end %>
    <p><%= f.link_to_add "Добавить роль", :roles%></p>
    </div>
    <div class="actions">
      <%= f.submit "Создать / Изменить" %>
    </div>
<% end %>
