<%= form_for(@award) do |f| %>
    <% if @award.errors.any? %>
        <div id="error_explanation">
          <h2> Ошибка сохранения:</h2>

          <ul>
            <% @award.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title,"Название" %>
      <br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :date,"Дата" %>
      <br>
      <%= f.date_select :date %>
    </div>
    <div class="actions">
      <%= f.submit "Добавить / Изменить" %>
    </div>
<% end %>
