<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Название:</strong>
      <%= @award.title %>
    </p>

    <p>
      <strong>Дата:</strong>
      <%= @award.date %>
    </p>

    <%= link_to 'Редактировать', edit_award_path(@award) %> |
    <%= link_to 'Назад', awards_path %>
  </div>
</div>
